.ServiceHub/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dotnet/
.face
.face.icon
.fonts.conf
.gitconfig
.gnupg/
.gtkrc-2.0
.java/
.lesshst
.local/
.mozilla/
.nuget/
.pki/
.profile
.profile.bak
.sane/
.ssh/
.sudo_as_admin_successful
.swp
.templateengine/
.var/
.viminfo
