.ServiceHub/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dotnet/
.face
.face.icon
.fonts.conf
.gitconfig
.gnupg/
.gtkrc-2.0
.java/
.lesshst
.local/
.mozilla/
.nuget/
.pki/
.profile
.profile.bak
.sane/
.ssh/
.sudo_as_admin_successful
.swp
.templateengine/
.var/
.viminfo
.vim/
.vscode/
.wget-hsts
.xsession-errors
Desktop/
Documents/
Downloads/
Games/
IdeaProjects/
RiderProjects/
VirtualBox VMs/
coding/
dotnet-install.sh
snap/
starter/
.m2/
.mullvad-browser/
.swn
.swo
Pictures/
