" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=10
set hlsearch
set clipboard+=unnamed

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
let mapleader = " "
nmap <leader>j <Action>(PreviousTab)
nmap <leader>k <Action>(NextTab)
nmap <leader>h <Action>(PrevSplitter)
nmap <leader>l <Action>(NextSplitter)
nmap <leader><C-l> <Action>(SplitVertically)
nmap <leader><M-g-h> <Action>(ShowHoverInfo)
nmap <leader>gD <Actions>(GotoDeclaration)
nmap <leader>s <Action>(ShowUsages)
nmap <leader>p <Action>(TogglePowerSave)

nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

set showmode
set visualbell

" set smartcase
" set surround
set number
" map gf viw<Action>(FindInPath)<Esc>
" map gu viw<Action>(FindUsages)<Esc>
